<header class="" #header >
    <a routerLink=""><img [src]="logoSource" alt='Logo'></a>
    <div class="" id ="menuList" #menuList [ngClass]="{'openedMenu': isOpened}">

        <ul>
            <li [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
            <li routerLinkActive="activeLink"><a routerLink="/nfts">NFTs</a></li>
            <li routerLinkActive="activeLink"><a routerLink="/popularcreators">Popular Creators</a></li>
            <li routerLinkActive="activeLink"><a routerLink="/contact">Contact</a></li>
            <li *ngIf="!loggedIn" routerLinkActive="activeLink"><a routerLink="/login">Sign in / Sign up</a></li>

          </ul>
          

    </div>  
    
    <a class="menuburger-icon" id="menuburger-icon"  
    #menuburgericon 
    (click)="openAndCloseMenuBurger()"
    [ngClass]="{'openedMenu': isOpened}" >

        <span></span>
        <span></span>
        <span></span>
    </a>

</header>
