@import "../../styles.scss";

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    transition: all 0.5s ease 0s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    .logo {
        max-width: 7%;



        img {

            width: 100%;
            min-width: 75px;

        }
    }

    #menuList{  

        flex:1;
        padding: 0 100px;
    }

    .linksList {
        // navbar list

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        li {
            list-style-type: none;
            font-weight: bold;

            &:hover a {
                color: $hoverLinkedColor;

                &::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }

        .activeLink a {

            color: $hoverLinkedColor;

            &::before {
                transform: scaleX(1);
                transform-origin: left;
            }
        }


        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
            position: relative;
            padding-bottom: 5px;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 5px;
                border-radius: 5px;
                background-color: $hoverLinkedColor;
                bottom: 0;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s ease-in-out;
            }
        }

    }

    .dropDownMenu {
        position: relative;
        background-color: #398177;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: antiquewhite;
            width: 200px;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 44px;
            left: -28px;
            height: 0;
            overflow: hidden;
            transition: height 1s ease ;

            li{

                text-decoration: none;
                list-style-type: none;
                padding: 10px 20px;

            }

        }

        .openedMenu{
            height: 132px;
        }

        

        .userDiv {
            width: 170px;
            position: relative;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #398177;
            padding:10px;

        }

        .dropDownArrow {
            height: 0;
            width: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #333;
            transform: rotate(0deg);    
            transition: transform 1s ease;
        }
        .toUP{
            animation: arrowChangeUp 1s ease forwards;
        }
        .toDOWN{
            animation: arrowChangeDown 1s ease forwards;
        }
    }
}

.onScroll {

    background: $bgGlass !important;
    padding: 10px 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

@keyframes arrowChangeUp {
    
    From {
        transform: rotate(0deg);
    }
    To {
        transform:rotate(180deg);
    }

}

@keyframes arrowChangeDown {
    From {
        transform: rotate(180deg);
    }
    To {
        transform:rotate(0deg);
    }
}


@keyframes afterlines {
    From {
        width: 0;
    }

    To {
        width: 100%;
    }
}



header .menuburger-icon {

    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(236 86 92);
    border-radius: 5px;
    min-width: 30px;
    height: 30px;
    padding: 5px;
    z-index: 5;

    span {

        display: inline-block;
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
        transition: 2s;
    }
}


.openedMenu {

    right: 0% !important;
    top: 0%;

    span {

        background-color: red !important;
        position: absolute;

    }

    span:first-of-type {

        rotate: 45deg !important;


    }

    span:nth-of-type(2) {

        opacity: 0;
    }

    span:nth-of-type(3) {
        rotate: -45deg !important;



    }
}

@media all and (max-width:925px) {

    /* header img {

        margin: 0 -65px;

    } */

    header div {

        position: fixed;
        width: 100%;
        right: 100%;
        padding: 3%;
        top: 0%;
        flex-direction: column;
        height: 100vh;
        backdrop-filter: blur(25px);
        transition: 2s;

    }

    header div ul {

        flex-direction: column;
        width: 50%;

    }

    header .menuburger-icon {

        display: flex;
        justify-content: space-around;
        margin: 0 0 0 170px;

    }

}