<footer>
    <div class="container">
        <div>
            <h3>Wika</h3>
            <ul>
                <li><a href="#">Signup</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div>
            <h3>Marketplace</h3>
            <ul>
                <li><a href="#">Form Templates</a></li>
                <li><a href="#">PDF Templates</a></li>
                <li><a href="#">Form Themes</a></li>
                <li><a href="#">Form Widgets</a></li>
            </ul>
        </div>
        <div>
            <h3>Support</h3>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">User Guide</a></li>
                <li><a href="#">Examples</a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>


    </div>
    <div class="copywrite">ⒸCopywrite Powered by Me</div>
</footer>