footer{
    background-color: #0d192b;

    .copywrite{
        background-color: #8080808c;
        text-align: center;
        width: 55%;
        padding: 10px;
        margin: auto;
        border-radius: 10px;
        color: #ffffff;
    }

}